<!-- <mat-toolbar color="primary">
    <span><a routerLink="/">MyMessages</a></span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </mat-toolbar> -->

  <!-- <div class="row main-div">
    <div class="col-md-12">
  <mat-tab-group  [disableRipple]=true>
    
    <mat-tab label="List Users"> <app-list-users></app-list-users> </mat-tab>
    <mat-tab label="Archived Users"> <app-archived-users></app-archived-users> </mat-tab>
    <mat-tab label="Create Scenarios"> <app-create-scenario></app-create-scenario> </mat-tab>
    <mat-tab label="List Scenarios"> <app-list-scenarios></app-list-scenarios> </mat-tab>
    <mat-tab label="Archived Scenarios"> <app-archived-scenarios></app-archived-scenarios></mat-tab>
    <mat-tab label="Assigned Scenarios"> <app-assign-scenarios></app-assign-scenarios></mat-tab>
    <mat-tab label="User Submission"> <app-user-submission></app-user-submission> </mat-tab>
 
  </mat-tab-group>
  </div>
</div> -->

  <!-- <mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <span class="my-custom-class">Security</span>
        </ng-template>
        Content 1
    </mat-tab>
    <mat-tab label="Second" class="secondTab"> Content 2 </mat-tab>
    <mat-tab class="my-custom-class" label="Third" class="thirdTab"> Content 3 </mat-tab>
</mat-tab-group> -->

  <mat-toolbar color="primary">
    <span><a *ngIf="userType=='Admin'" routerLink="/">Admin Panel</a></span>
    <span class="spacer"></span>
    <ul *ngIf="userIsAuthenticated">
      <li>
        <a *ngIf="userType=='Admin'" mat-button routerLink="/admin/list-users" routerLinkActive="mat-accent">List Users</a>
      </li>
      <li>
        <a *ngIf="userType=='Admin'" mat-button routerLink="/admin/archived-users" routerLinkActive="mat-accent">Archived Users</a>
      </li>
      <li>
        <a *ngIf="userType=='Admin' || userType=='Content Manager'" mat-button routerLink="/admin/create-scenarios" routerLinkActive="mat-accent">Create scenarios</a>
      </li>
      <li>
        <a *ngIf="userType=='Admin' || userType=='Content Manager'" mat-button routerLink="/admin/list-scenarios" routerLinkActive="mat-accent">List scenarios</a>
      </li>
      <li>
        <a *ngIf="userType=='Admin' || userType=='Content Manager'" mat-button routerLink="/admin/archived-scenarios" routerLinkActive="mat-accent">Archived scenarios</a>
      </li>
      <li>
        <a *ngIf="userType=='Admin'" mat-button routerLink="/admin/history-log" routerLinkActive="mat-accent">History Log</a>
      </li>
      <li>
        <a *ngIf="userType=='Admin' || userType=='Reviewer'" mat-button routerLink="/admin/assign-scenarios" routerLinkActive="mat-accent">Assign scenarios</a>
      </li>
      <li>
        <a *ngIf="userType=='Admin' || userType=='Reviewer'" mat-button routerLink="/admin/user-submission" routerLinkActive="mat-accent">User submission</a>
      </li>
    </ul>
    
    <span class="spacer"></span>
    <ul>
      <li>
        <a *ngIf="!userIsAuthenticated" mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li>
        <a *ngIf="!userIsAuthenticated" mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li>
        <a *ngIf="userIsAuthenticated" mat-button (click)="onLogout()" routerLinkActive="mat-accent">Logout</a>
      </li>
    </ul>


  </mat-toolbar>
