<!-- <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput ngModel name="email" type="email" placeholder="E-mail" #emailInput="ngModel" required email/>
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput ngModel name="password" type="password" placeholder="Password" #passwordInput="ngModel" required> 
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Login</button>
    </form>
</mat-card> -->

<div class="row main-div">
    <div class="col-sm-4">
        <mat-card>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            
            <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">

                <div class="row main-div">

                    <div class="col-sm-10 form-group ">
                    <mat-form-field>
                        <input matInput ngModel name="email" type="email" placeholder="E-mail" #emailInput="ngModel" required email/>
                        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-sm-10 form-group ">
                    <mat-form-field>
                        <input matInput ngModel name="password" type="password" placeholder="Password" #passwordInput="ngModel" required> 
                        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
                    </mat-form-field>
                    </div>
                </div>
                <div class="main-div ">
                    <button mat-raised-button color="primary" type="submit" *ngIf="!isLoading">Signup</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>