<h1>Archived Scenarios</h1>
<mat-accordion displayMode="flat" class="mat-table" multi="true" *ngIf="scenarios.length > 0">

  <section matSort class="mat-elevation-z2 mat-header-row">
    <span class="section-header" mat-sort-header="Title">Title</span>
    <span class="section-header" mat-sort-header="Mission">Mission</span>
    <span class="section-header" mat-sort-header="Level">Level</span>
    <span class="section-header" mat-sort-header="Type">Type</span>
    <span class="section-header" mat-sort-header="Time">Time</span>
    <span class="section-header" mat-sort-header="Passing Grade">Passing Grade</span>
    <span class="section-header" mat-sort-header="ircs">Description</span>

  </section>

    <mat-expansion-panel *ngFor="let scenario of scenarios">
      <mat-expansion-panel-header class="mat-row ripple-color">
        <!-- <mat-panel-title>
          {{ scenario.title }}
        </mat-panel-title> -->
        <span class="mat-cell">{{scenario.title}}</span>
        <span class="mat-cell">{{scenario.mission}}</span>
        <span class="mat-cell">{{scenario.level}}</span>
        <span class="mat-cell">{{scenario.type}}</span>
        <span class="mat-cell">{{scenario.time}}</span>
        <span class="mat-cell">{{scenario.passingGrade}}</span>
        <span class="mat-cell"> <mat-panel-description>
          This is a summary of the content
        </mat-panel-description></span>
      </mat-expansion-panel-header>

      <div class="row">
        <div class="col-sm-10">
          <h2>Description</h2>
        </div>
        <div class="col-sm-2">
          <h2>Score Card</h2>
        </div>
     </div> 

      <div class="row">
        <div class="col-sm-10">
          <p>{{scenario.description}}</p>
        </div>
        <div  class="col-sm-2">
          <p>{{ scenario.scoreCard }}</p>
        </div>
      </div>

      
      <mat-action-row>
        <button mat-button class="cloneButton">Restore</button>
        <button mat-button color="warn">Delete</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <p class="info-text mat-body-1" *ngIf="scenarios.length <= 0">No scenarios added yet!</p>
