<div class="row main-div">
    <div class="col-md-10">
        <mat-card>
            <h1 class="text-center">Edit User</h1>


            <form *ngIf="!isLoading">

                <div class="row main-div"> 

                    <div class="col-md-3"> 
                    <h3><mat-icon> email</mat-icon> {{data.email}}</h3>  
                    </div>

                    <div class="col-md-3"> 
                        <mat-form-field appearance="outline">
                            <mat-label> Type </mat-label>
                                <mat-select [(ngModel)]="data.userType" name="userType" id="userType">
                                    <mat-option *ngFor="let type of userType"   [value]="type.name"> 
                                        {{type.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>
                   <div class="col-md-3"> 
                        <mat-form-field appearance="outline">
                            <mat-label>Level</mat-label>
                                <mat-select  [(ngModel)]="data.level" name="level" id="level">
                                    <mat-option *ngFor="let user of level" [value]="user"> 
                                        {{user}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>

                   

                    <div class="col-md-3"> 
                    <mat-form-field appearance="outline">
                        <mat-label>{{ "Mission" }}</mat-label>
                            <mat-select [(ngModel)]="data.mission" name="mission" id="mission" required>
                                <mat-option *ngFor="let store of storedMissions"   [value]="store"> 
                                    {{store}}
                                </mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="missionSelect.invalid">Select a mission</mat-error> -->
                        </mat-form-field>
                        </div>
                     <!-- 
                    <div class="col-md-3"> 
                        <mat-form-field appearance="outline">
                            <mat-label> "Level" </mat-label>
                                <mat-select [(value)]="selectedMission">
                                    <mat-option *ngFor="let store of storeResult"  name="mission" id="mission" [value]="store.name"> 
                                        {{store.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>

                    <div class="col-md-3"> 
                        <mat-form-field appearance="outline">
                            <mat-label> "Type" </mat-label>
                                <mat-select [(value)]="selectedMission">
                                    <mat-option *ngFor="let type of types"  name="type" id="type" [value]="type"> 
                                        {{type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div> -->
                    <div class="row main-div" style="padding-bottom: 30px; padding-top: 30px;"> 
                        <button class="col-md-5" mat-raised-button color="primary" (click)="editUser(data)">Edit User</button>
                    </div>
                </div>


         </form>

        </mat-card>
    <div>
</div>