.main-div{
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }

  .h3-center-margin {
    margin: 0 0 0px;
    text-align: center;
  }
  
  h1 {
    font-size: 24x;
    text-align: center;
  }

  mat-form-field {
    width: 100%;
    height: auto;
}