
<div class="row main-div" style="padding-bottom: 45px;">
    <div class="col-md-10"> 
        <mat-card>
            <h1  class="text-center">Grade Assessment</h1>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <!-- <form ngNativeValidate id="createScenario_form" *ngIf="!isLoading" method="post" (ngSubmit)="createScenario(data); dialogForm.resetForm()" #dialogForm="ngForm"> -->
                <form ngNativeValidate id="createScenario_form" *ngIf="!isLoading" method="post" #dialogForm="ngForm">

                   <div class="row main-div"> 
                        <div class="col-md-11">
                            <h3 class="h3-center-margin">Scenario Description
                                <span style="padding-left: 20px;"><strong>Mission:</strong>{{data.scenarios.mission}}</span>
                                <span style="padding-left: 20px;"><strong>Level:</strong>{{data.scenarios.level}}</span></h3> 
                            <textarea matInput [(ngModel)]="data.scenarios.description" cols="115" rows="10" id="description" 
                            name="description" readonly=true></textarea>
                        </div>
                        
                        <div class="col-md-11">
                            <h3 class="h3-center-margin">User Input</h3>
                            <textarea matInput [(ngModel)]="data.scenarios.description" cols="115" rows="10" id="description" 
                            name="description" readonly=true></textarea>
                        </div>
                           
                        <div class="col-md-11">
                              <span style="padding-right: 10px; padding-bottom: 5px;">Logs:</span> <a href="{{data.scenarios.logsUrl}}" target="_blank">{{data.scenarios.logsUrl}}</a>
                              <span class="horizontal-line"></span>
                        </div>
                        

                    </div>

                    <div class="row main-div"> 
                        <div class="col-md-11">
                            <h3 class="h3-center-margin">Feedback</h3>
                            <textarea matInput [(ngModel)]="data.user.finalGrade.feedback" cols="115" rows="10" id="feedback" 
                            name="feedback"></textarea>
                        </div>
                    </div>

         </form>

        </mat-card> 
    </div>
</div>