@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

/* body {
  background-image: url(../../img/2-3.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-header__item {
  margin: 0 1rem;
}

.main-header__item a,
.main-header__item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: rgb(190, 190, 190);
  cursor: pointer;
}

.navbar-nav {
  list-style: none;
  display: flex;
  align-items: center;
}

.btn-hidden {
  padding: 0;
  border: none;
  background: none;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #d6d9dd;
}

.nav-item {
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
}

.btn{
display: grid;
margin: auto;
}
