.main-div{
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }

  .h3-center-margin {
    margin: 0 0 0px;
    text-align: center;
  }
  
  h1 {
    font-size: 24x;
    text-align: center;
  }

  mat-form-field {
    width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 0 1em 0;
}