<!-- <div class="row main-div" style="padding-bottom: 45px;" *ngIf="viewType"> -->
<mat-dialog-content class="row main-div" style="padding-bottom: 45px;" [ngStyle]="styleObject()" >

    <div class="col-md-10"> 
        <mat-card>
            <h1  class="text-center">{{  viewType == true ? 'Create a Scenario' : 'Edit a Scenario'}}</h1>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
            <!-- <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading"> -->
            <form ngNativeValidate id="createScenario_form" *ngIf="!isLoading" method="post" (ngSubmit)="dialogSave(data); dialogForm.resetForm()" #dialogForm="ngForm">

                <div class="row main-div"> 
                    <div class="col-md-3"> 
                        <mat-form-field appearance="outline">
                            <mat-label>{{ "Mission" }}</mat-label>
                                <mat-select [(ngModel)]="data.mission"  name="mission" id="mission" required>
                                    <mat-option *ngFor="let mission of missions" [value]="mission" > 
                                        {{mission}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>

                    <div class="col-md-3"> 
                        <mat-form-field appearance="outline">
                            <mat-label>{{ "Level" }}</mat-label>
                                <mat-select [(ngModel)]="data.level" name="level" id="level">
                                    <mat-option *ngFor="let level of levels"  [value]="level" required> 
                                        {{level}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>

                    <div class="col-md-3"> 
                        <mat-form-field appearance="outline">
                            <mat-label>{{ "Type" }}</mat-label>
                                <mat-select [(ngModel)]="data.type"  name="type" id="type">
                                    <mat-option *ngFor="let type of types" [value]="type"> 
                                        {{type}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                    </div>
                </div>

                <div class="row main-div"> 
                    <div class="col-md-5"> 
                        <h3 class="h3-center-margin">Scenario Title</h3>
                        <mat-form-field >
                            <input  matInput [(ngModel)]="data.title" id="title" name="title" type="text" placeholder="Title" #title="ngModel"
                             required/>
                            <!-- <mat-error *ngIf="title.invalid">Please enter a valid email</mat-error> -->
                        </mat-form-field>
                    </div>

                    <div class="col-md-2"> 
                        <h3 class="h3-center-margin">Passing Grade</h3>
                        <mat-form-field >
                            <input  matInput [(ngModel)]="data.passingGrade" id="passingGrade" name="passingGrade" type="number" placeholder="Value between 0-90" 
                            #passingGrade="ngModel" required/>
                            <!-- <mat-error *ngIf="passingGrade.invalid">Please enter a valid email</mat-error> -->
                        </mat-form-field>
                    </div>

                    <div class="col-md-2"> 
                        <h3 class="h3-center-margin">Time for Scenario</h3>
                        <mat-form-field >
                            <input  matInput [(ngModel)]="data.time" id="time" name="time" type="number" placeholder="Time in minutes 15-120"
                             #time="ngModel" required/>
                            <!-- <mat-error *ngIf="time.invalid">Please enter a valid email</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>

                <div class="row main-div "> 
                    <div class="col-md-9 padding-bottom textArea-margin">
                        <h3 class="h3-center-margin">Scenario Description</h3>
                        <textarea matInput [(ngModel)]="data.description" cols="115" rows="8" id="description" name="description" required></textarea>
                    </div>

                    <div class="col-md-9">
                        <!-- <h3 class="margin">Link for logs</h3> -->
                            <mat-form-field >
                                <input  matInput [(ngModel)]="data.logsUrl" id="logsUrl" name="logsUrl" type="logsUrl" placeholder="Place the link for logs"
                                #logsUrl="ngModel" required/>
                                <!-- <mat-error *ngIf="time.invalid">Please enter a valid email</mat-error> -->
                            </mat-form-field>
                    </div>
                    
                </div>

                <div class="row main-div"> 
                    <div class="col-md-9">
                        <h1  class="text-center">Score Card</h1>
                    </div>
                </div>

                <div class="row main-div"> 
                    <div class="col-md-3">
                        <h3 class="h3-center-margin">Total Points</h3>
                        <mat-form-field appearance="outline" >
                            <input style="text-align: center;" matInput  [(ngModel)]="data.grandTotal" min="100" max="100" id="grandTotal" name="grandTotal" type="number" 
                            placeholder="Sum of values must be 100" (input)="onUpdateSum()"  #grandTotal="ngModel" required/>
                            <!-- <p>{{data?.scoreCard?.weight + data?.scoreCard?.weight2}}</p> -->
                        </mat-form-field>
                    </div>
                    
                </div>

                <!-- Scorecard -->
                <div class="row main-div"> 
                    <button type='button' class="col-md-5" mat-raised-button color="primary" [disabled]="count == 3" (click)="counterUp()">Add</button>
                    <button type='button' class="col-md-5" mat-raised-button color="primary" [disabled]="count == 0" (click)="counterDown()">Remove</button>
                    <div class="col-md-8">
                    <h2>Questions</h2>
                    <mat-form-field class="scoreCard-fields">
                        <mat-label>Question - 1</mat-label>
                        <input matInput [(ngModel)]="data.scoreCard.question" id="question" name="question" type="text" 
                            placeholder="Type in your question" required/>
                    </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <h2>Weight</h2>
                        <mat-form-field class="scoreCard-fields">
                            <input matInput min="0" max="100"[(ngModel)]="data.scoreCard.weight" id="weight" name="weight" type="number" #weight="ngModel" 
                            required (input)="onUpdateSum()"/>
                        </mat-form-field>
                    </div>

                    <div class="col-md-8">
                        <mat-form-field class="scoreCard-fields">
                            <mat-label>Question - 2</mat-label>
                            <input matInput [(ngModel)]="data.scoreCard.question2" id="question2" name="question2" 
                            type="text" #question2="ngModel" 
                            placeholder="Type in your question" required/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                        <mat-form-field class="scoreCard-fields">
                            <input matInput min="0" max="100" [(ngModel)]="data.scoreCard.weight2" (input)="onUpdateSum()" id="weight2" name="weight2" type="number" #weight2="ngModel" 
                            required/>
                        </mat-form-field>
                    </div>

                    <div *ngIf="count >= 1" class="col-md-8">
                        <mat-form-field class="scoreCard-fields">
                            <mat-label>Question - 3</mat-label>
                            <input matInput [(ngModel)]="data.scoreCard.question3" id="question3" name="question3" 
                            type="text" #question3="ngModel" 
                            placeholder="Type in your question" required/>
                        </mat-form-field>
                    </div>
                    <div *ngIf="count >= 1" class="col-md-1">
                        <mat-form-field class="scoreCard-fields">
                            <input matInput [(ngModel)]="data.scoreCard.weight3" (input)="onUpdateSum()" id="weight3" name="weight3" type="number" #weight3="ngModel" required/>
                        </mat-form-field>
                    </div>

                    <div *ngIf="count >= 2" class="col-md-8">
                        <mat-form-field class="scoreCard-fields">
                            <mat-label>Question - 4</mat-label>
                            <input matInput [(ngModel)]="data.scoreCard.question4" id="question4" name="question4" 
                            type="text" #question4="ngModel" 
                            placeholder="Type in your question" required/>
                        </mat-form-field>
                    </div>
                    <div *ngIf="count >= 2" class="col-md-1">
                        <mat-form-field class="scoreCard-fields">
                            <input matInput [(ngModel)]="data.scoreCard.weight4" (input)="onUpdateSum()" id="weight4" name="weight4" type="number" #weight4="ngModel" required/>
                        </mat-form-field>
                    </div>

                    <div *ngIf="count >= 3" class="col-md-8">
                        <mat-form-field class="scoreCard-fields">
                            <mat-label>Question - 5</mat-label>
                            <input matInput [(ngModel)]="data.scoreCard.question5" id="question5" name="question5" 
                            type="text" #question5="ngModel" 
                            placeholder="Type in your question" required/>
                        </mat-form-field>
                    </div>
                    <div *ngIf="count >= 3" class="col-md-1">
                        <mat-form-field class="scoreCard-fields">
                            <input matInput [(ngModel)]="data.scoreCard.weight5" (input)="onUpdateSum()" id="weight5" name="weight5" type="number" #weight5="ngModel" required/>
                        </mat-form-field>
                    </div>
                </div>
                
                <div class="row main-div" style="padding-bottom: 30px; padding-top: 30px;"> 
                    <button *ngIf="viewType" class="col-md-5" mat-raised-button color="primary">Create Scenario</button>
                    <button *ngIf="!viewType" class="col-md-5" mat-raised-button color="primary">Edit Scenario</button>
                </div>

         </form>

        </mat-card> 
    </div>

</mat-dialog-content>
<!-- </div> -->