<div class="row main-div">
    <div class="col-md-10"> 
            
            <mat-card>
                <h1 class="text-center">List Submitted Scenarios</h1>
             <div class="row main-div">
                <mat-spinner *ngIf="isLoading"></mat-spinner>
            </div>

            <div class="row main-div">
                <div class="col-md-10" *ngIf="submittedScenarios.length > 0"> 
                    <table matSort mat-table [dataSource]="userData">

                        <ng-container matColumnDef="DATETAKEN">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="dateTaken"> Date Taken </th>
                            <td mat-cell *matCellDef="let element"> {{element.scenarioDateTaken}} </td>
                          </ng-container>

                          <ng-container matColumnDef="TITLE">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="userType"> Title </th>
                            <td mat-cell *matCellDef="let element"> {{element.scenarioTitle}} </td>
                          </ng-container>
                          
                          <ng-container matColumnDef="MISSION">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="level"> Mission </th>
                            <td mat-cell *matCellDef="let element" > {{element.mission}} </td>
                          </ng-container>

                          <ng-container matColumnDef="LEVEL">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="mission"> Level </th>
                            <td mat-cell *matCellDef="let element" > {{element.level}} </td>
                          </ng-container>


                          <ng-container matColumnDef="OPERATION">
                            <th mat-header-cell *matHeaderCellDef> Archive </th>
                            <td mat-cell *matCellDef="let element"><a mat-raised-button routerLink="/admin/submission-grade/{{element.userId}}/{{element.scenarioId}}">Grade</a></td>
                            <!-- <td mat-cell *matCellDef="let element"><button mat-button color="primary" (click)="openDialog(element)">Grade</button></td> -->
                          </ng-container>

                          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                        <mat-paginator #paginator
                      
                        [pageIndex]="0"
                        [pageSize]="15"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        ></mat-paginator>
                </div>
                <p class="info-text mat-body-1 text-center" *ngIf="submittedScenarios.length <= 0 && !isLoading">No submitted scenarios added!</p>
            </div>
            </mat-card>
    </div>
</div>